*{
    padding: 0;
    margin: 0;
}
header h1 {
    height: 70px;
    background-color: rgb(244, 235, 160);
    border-style: Solid;
    border-color: rgb(0, 0, 43);
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #fff;
}
header ul li{
    padding: 20px;
    border-left: 2px solid;  
}
header ul {
    float: right;
    background-color: rgb(53, 49, 17);
    border-style: dashed;
    color: #fff;
   
}
header ul li {
    text-transform: none;
    display: inline-block;
}
header ul li a {
    text-decoration: none;
    transition: 1.3s; 
    color: #fff;
}
header ul li a:hover {
    color: red;
}

h2 {
    text-shadow: 2px 2px #fff;
    
}
h2{
    
    font-size: 25px;
    background-color: rgb(247, 219, 104);
    border-style: ridge;
    padding: 15px;
    text-align: center;
}
#support ul li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 2px #fff;
}

#support ul li {
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
#support button{
    padding: 20px;
    background-color: aqua;
    border: rgb(13, 12, 12) 7px solid;
    text-decoration: none;
   
}
#support ul li a:hover{
    color: blue;
    transition: 1.5s;
    text-decoration: none;
}
#support p {
    text-align: justify;
    font-size: large;
    padding: 20px;
}

#penutup h3 {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: aqua;
    padding: 10px;
    text-align: center;
}